In [ ]:
#hech qanday yordamsiz shu code ni yozdim. no chatgpt no googling.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
import math
from scipy.stats import pearsonr


my_dataset = datasets.load_iris(as_frame=True)
df = my_dataset.frame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [17]:
dataX = df['sepal length (cm)']
dataY = df['sepal width (cm)']

def calculate_variance(data):
    mean=np.mean(data)
    sq_dif = (data-mean)**2
    return np.sum(sq_dif)/len(data)

varianceX = calculate_variance(dataX.values)
stdX = np.sqrt(varianceX)

varianceY = calculate_variance(dataY.values)
stdY = np.sqrt(varianceY)

In [26]:
zX = (dataX-dataX.mean())/stdX
zY = (dataY-dataY.mean())/stdY
zY

0      1.019004
1     -0.131979
2      0.328414
3      0.098217
4      1.249201
         ...
145   -0.131979
146   -1.282963
147   -0.131979
148    0.788808
149   -0.131979
Name: sepal width (cm), Length: 150, dtype: float64

In [ ]:
#peason correlationni topib oldim library orqali
r,p_value=pearsonr(dataX, dataY)

np.float64(0.1518982607114478)

In [30]:
funcXY = (np.exp(-(zX**2-2*r*zX*zY+zY**2)/(2*(1-(r**2)))))/(2*math.pi*stdX*stdY*np.sqrt(1-(r**2)))

In [32]:
funcXY
#lekin menda chiqgan natija togri yoqligini endi tekshirib videoni davom ettiraman
#shunchaki challenge qilishga harakat qildim

0      0.195247
1      0.224392
2      0.168867
3      0.143258
4      0.138961
         ...
145    0.260820
146    0.180815
147    0.325485
148    0.284805
149    0.442512
Length: 150, dtype: float64