In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

mydata = datasets.load_iris(as_frame=True)
df=mydata.frame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
s1 = df['sepal length (cm)']
s2 = df['sepal width (cm)']

s1_list = df['sepal length (cm)'].values.tolist()
s2_list = df['sepal width (cm)'].values.tolist()

In [7]:
#covariance
def cal_covariance(s1_list, s2_list):
    if len(s1_list) != len(s2_list):
        raise ValueError("ikta list teng emas")

    n = len(s1_list)
    mean_s1 = sum(s1_list)/n
    mean_s2 = sum(s2_list)/n

    cov = sum((s1_list[i]-mean_s1)*(s2_list[i] - mean_s2) for i in range(n)) / n

    return cov

cal_covariance(s1_list, s2_list)

-0.042151111111111104

In [14]:
df[['sepal length (cm)','sepal width (cm)']].cov()

                   sepal length (cm)  sepal width (cm)
sepal length (cm)           0.685694         -0.042434
sepal width (cm)           -0.042434          0.189979

In [10]:
#correlation
def cal_correlation(x1, x2):
    if len(x1) != len(x2):
        raise ValueError('ikta list teng emas')
    
    n = len(x1)
    mean_x1 = sum(x1)/n
    mean_x2 = sum(x2)/n

    cov = sum((x1[i]-mean_x1)*(x2[i]-mean_x2) for i in range(n))/n
    std_x1 = (sum((i-mean_x1)**2 for i in x1)/n) ** 0.5
    std_x2 = (sum((i-mean_x2)**2 for i in x2)/n) ** 0.5

    corr = cov/(std_x1*std_x2)

    return corr

cal_correlation(s1_list, s2_list)

-0.11756978413300202

In [13]:
df[['sepal length (cm)','sepal width (cm)']].corr()

                   sepal length (cm)  sepal width (cm)
sepal length (cm)            1.00000          -0.11757
sepal width (cm)            -0.11757           1.00000

In [17]:
def calculate_pdf_vectorized(data):
    mu = np.mean(data)  # Calculate the mean of the dataset
    sigma = np.std(data, ddof=1)  # Calculate the standard deviation of the dataset
    coeff = 1 / (sigma * np.sqrt(2 * np.pi))  # Precompute the coefficient
    
    # Compute the exponent part for all data points in one go
    exponent = np.exp(-((data - mu) ** 2) / (2 * sigma ** 2))
    
    # Return the array of computed PDF values
    return coeff * exponent
pdf_value = calculate_pdf_vectorized(s1_list)
pdf_value

array([0.32200588, 0.25178867, 0.18572654, 0.15606028, 0.28682488,
       0.41744843, 0.15606028, 0.28682488, 0.10546982, 0.25178867,
       0.41744843, 0.21783211, 0.21783211, 0.08482926, 0.48111665,
       0.47461229, 0.41744843, 0.32200588, 0.47461229, 0.32200588,
       0.41744843, 0.32200588, 0.15606028, 0.32200588, 0.21783211,
       0.28682488, 0.28682488, 0.35626826, 0.35626826, 0.18572654,
       0.21783211, 0.41744843, 0.35626826, 0.44209459, 0.25178867,
       0.28682488, 0.44209459, 0.25178867, 0.10546982, 0.32200588,
       0.28682488, 0.1292341 , 0.10546982, 0.28682488, 0.32200588,
       0.21783211, 0.32200588, 0.15606028, 0.38846939, 0.28682488,
       0.18161945, 0.38433694, 0.21342967, 0.44209459, 0.35179363,
       0.47461229, 0.41381158, 0.25178867, 0.3173439 , 0.35626826,
       0.28682488, 0.48064911, 0.47322998, 0.45917972, 0.46141734,
       0.28212312, 0.46141734, 0.48111665, 0.43909601, 0.46141734,
       0.48064911, 0.45917972, 0.41381158, 0.45917972, 0.38433694,
       0.3173439 , 0.24718013, 0.28212312, 0.47322998, 0.47461229,
       0.44209459, 0.44209459, 0.48111665, 0.47322998, 0.41744843,
       0.47322998, 0.28212312, 0.41381158, 0.46141734, 0.44209459,
       0.44209459, 0.45917972, 0.48111665, 0.28682488, 0.46141734,
       0.47461229, 0.47461229, 0.43909601, 0.32200588, 0.47461229,
       0.41381158, 0.48111665, 0.15231276, 0.41381158, 0.35179363,
       0.05076929, 0.25178867, 0.1025376 , 0.28212312, 0.12588574,
       0.35179363, 0.38433694, 0.24718013, 0.47461229, 0.48111665,
       0.38433694, 0.35179363, 0.03900974, 0.03900974, 0.47322998,
       0.21342967, 0.46141734, 0.03900974, 0.41381158, 0.28212312,
       0.12588574, 0.43909601, 0.45917972, 0.38433694, 0.12588574,
       0.08231067, 0.02204531, 0.38433694, 0.41381158, 0.45917972,
       0.03900974, 0.41381158, 0.38433694, 0.47322998, 0.21342967,
       0.28212312, 0.21342967, 0.48111665, 0.24718013, 0.28212312,
       0.28212312, 0.41381158, 0.35179363, 0.43909601, 0.48064911])

In [20]:
#min max scaling
def min_max(data):
    min_val = np.min(data)
    max_val = np.max(data)
    return (data-min_val)/(max_val-min_val)
data = df['petal length (cm)'].values
min_max(data)

array([0.06779661, 0.06779661, 0.05084746, 0.08474576, 0.06779661,
       0.11864407, 0.06779661, 0.08474576, 0.06779661, 0.08474576,
       0.08474576, 0.10169492, 0.06779661, 0.01694915, 0.03389831,
       0.08474576, 0.05084746, 0.06779661, 0.11864407, 0.08474576,
       0.11864407, 0.08474576, 0.        , 0.11864407, 0.15254237,
       0.10169492, 0.10169492, 0.08474576, 0.06779661, 0.10169492,
       0.10169492, 0.08474576, 0.08474576, 0.06779661, 0.08474576,
       0.03389831, 0.05084746, 0.06779661, 0.05084746, 0.08474576,
       0.05084746, 0.05084746, 0.05084746, 0.10169492, 0.15254237,
       0.06779661, 0.10169492, 0.06779661, 0.08474576, 0.06779661,
       0.62711864, 0.59322034, 0.66101695, 0.50847458, 0.61016949,
       0.59322034, 0.62711864, 0.38983051, 0.61016949, 0.49152542,
       0.42372881, 0.54237288, 0.50847458, 0.62711864, 0.44067797,
       0.57627119, 0.59322034, 0.52542373, 0.59322034, 0.49152542,
       0.6440678 , 0.50847458, 0.66101695, 0.62711864, 0.55932203,
       0.57627119, 0.6440678 , 0.6779661 , 0.59322034, 0.42372881,
       0.47457627, 0.45762712, 0.49152542, 0.69491525, 0.59322034,
       0.59322034, 0.62711864, 0.57627119, 0.52542373, 0.50847458,
       0.57627119, 0.61016949, 0.50847458, 0.38983051, 0.54237288,
       0.54237288, 0.54237288, 0.55932203, 0.33898305, 0.52542373,
       0.84745763, 0.69491525, 0.83050847, 0.77966102, 0.81355932,
       0.94915254, 0.59322034, 0.89830508, 0.81355932, 0.86440678,
       0.69491525, 0.72881356, 0.76271186, 0.6779661 , 0.69491525,
       0.72881356, 0.76271186, 0.96610169, 1.        , 0.6779661 ,
       0.79661017, 0.66101695, 0.96610169, 0.66101695, 0.79661017,
       0.84745763, 0.6440678 , 0.66101695, 0.77966102, 0.81355932,
       0.86440678, 0.91525424, 0.77966102, 0.69491525, 0.77966102,
       0.86440678, 0.77966102, 0.76271186, 0.6440678 , 0.74576271,
       0.77966102, 0.69491525, 0.69491525, 0.83050847, 0.79661017,
       0.71186441, 0.6779661 , 0.71186441, 0.74576271, 0.69491525])